$font: "Roboto", "Tahoma", sans-serif;
$font-bold: "Roboto Bold", "Tahoma", sans-serif;

$base-color: #242330;
$secondary-color: #ffffff;
$alternative-color: #f77038;

$tablet-widths: "(min-width: 800px)";
$desktop-widths: "(min-width: 1200px)";
