<!DOCTYPE html>
<html lang="ru">
  <head>

    <title>Tissildue</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.min.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
  </head>
  <body class="no-js">
    <nav class="main-menu">
      <ul>
        <li><a href="#sec1">01</a></li>
        <li><a href="#sec2">02</a></li>
        <li><a href="#sec3">03</a></li>
        <li><a href="#sec4">04</a></li>
        <li><a href="#sec5">05</a></li>
        <li><a href="#sec6">06</a></li>
        <li><a href="#sec7">07</a></li>
        <li><a href="#sec8">08</a></li>
      </ul>
    </nav>
    <header class="header">
      <div class="wrapper" id="sec1">

        <div class="header-upper">
          <div class="header-upper__logo">
            <a href="#">
              <img src="../img/logo.png" width="200" height="20" alt="logo">
            </a>
          </div>
          <div class="header-upper__contacts">
            <p class="header-upper__phone">+70(456) 457-57-78</p>
            <a href="#" class="header-upper__call">Заказать звонок</a>

          </div>
        </div>

        <div class="header-text">
          <p class="header-text__smallfont"><span>Ткани от Итальянской фабрики Tessildue</span> <br>
            Доставка по России и СНГ</p>

          <h1 class="header-text__uppercase">Итальянские ткани <br> от фабрики <span>Tessildue</span></h1>

          <p class="header-text__middlefont">Выпускаем ткань для Louis Vuitton, Cavalli, Fendi, <br> Armani,  Kocca, Manila Grace, Liu Jo, Zara,  Moncler  и <br>других брендов</p>

          <ul class="header-text__list">
            <li class="header-text__item"><span>Фабрика входит в Топ-10</span> лучших Италии </li>
            <li class="header-text__item"><span>Уникальные принты </span>от известного дизайнера Bellotti </li>
            <li class="header-text__item"><span>Натуральные ткани </span>высокого качества</li>
          </ul>

          <a  href="#sec3" class="header-text__submit">Перейти в каталог</a>

        </div>


      </div>
    </header>

    <main>
      <div class="reason-block">

        <div class="wrapper" id="sec2">

            <h2 class="reason-header"><span>Эксклюзивные </span>Итальянские Ткани</h2>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-01.png"  alt="factory" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--01">
                <h3 class="reasons__title">Фабрика входит в топ-10</h3>
                <p class="reasons__description"><strong>Вы можете быть уверенными,</strong> что получите качественные натуральные ткани европейских стандартов, без брака и вовремя</p>

              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-02.png"  width="346" height="240" alt="fabric" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--02">
                <h3 class="reasons__title"> Только эксклюзивные <br>ткани</h3>

                <p class="reasons__description"><strong>Производим эксклюзивные ткани.</strong> Нежное прикосновение натуральных волокон, богатые узоры, оригинальный дизайн, качество - это те, детали, которые сделают Ваш образ неповторимым</p>
              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-03.png" alt="roses" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--03">
                <h3 class="reasons__title"> Уникальные принты <br> от Bellotti</h3>
                <p class="reasons__description"><strong>Более 100 наименований уникальных принтов</strong> для воплощения Ваших идей. <br> Разнообразные цветовые варианты.</p>
              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-04.png" alt="luxury" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--04">
                <h3 class="reasons__title"> Роскошь и <br>Благородство</h3>
                <p class="reasons__description"><strong>Итальянские ткани захватывают дух своей красотой,</strong> роскошью и благородством. Шёлк вне времени.</p>
              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-05.png" alt="natural" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--05">
                <h3 class="reasons__title">Hатуральные ткани</h3>
                <p class="reasons__description"><strong>Все ткани, изготовленные из натуральных волокон. </strong>Мягкие, гладкие, приятные наощупь, пропускают воздух, не раздражают кожу</p>
              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-06.png" alt="fashion" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--06">
                <h3 class="reasons__title"> Ткани для <br> Высокой моды</h3>
                <p class="reasons__description"><strong>Разработываем линию тканей</strong> для известных кутюрье. Вы получите высококачественные ткани подиумного формата</p>
              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-07.png" alt="width" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--07">
                <h3 class="reasons__title"> Ширина полотна <br>до 220 см</h3>
                <p class="reasons__description"><strong>Фабрика выпускает ткани шириной от 161 см до 220 см.</strong> Вы получите бесплатно до 1 м выбранного полотна</p>
              </div>
            </div>

            <div class="reasons">
              <div class="reasons__img-wrapper">
                <img src="../img/img-08.png" alt="no-mediator" class="reasons__image">
              </div>
              <div class="reasons__textblock reasons__textblock--08">
                <h3 class="reasons__title"> Без <br> посредников</h3>
                <p class="reasons__description"><strong>Единственное представительство в странах СНГ, </strong>которое предлагает изысканные натуральные ткани собственной фабрики в Италии</p>
              </div>
            </div>

        </div>
      </div>

      <div class="catalog">
        <div class="wrapper" id="sec3">
          <div class="catalog-header">
            <h2 class="catalog-header__title">Выберете подходящую <span> ткань из коллекции </span></h2>
            <p class="catalog-header__text">Более 100 уникальных принтов из шёлка, лёна, жаккарда</p>
          </div>

          <div class="catalog-columns">
              <h3 class="catalog-columns__title">Шелк</h3>
              <h3 class="catalog-columns__title">Жаккард</h3>
              <h3 class="catalog-columns__title">Лен</h3>
            </div>

          <div class="catalog-items">

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-1.png" alt="Silk">
                <h5 class="catalog-item__description">Шелк с принтом</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 1234</span>
                  <a href="#" class="catalog-item__price">3500 руб</a>
                </div>
              </div>

              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-2.png" alt="Silk">
                <h5 class="catalog-item__description">Жаккард</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 1681</span>
                  <a href="#"  class="catalog-item__price">4100 руб</a>
                </div>
              </div>

              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-3.png" alt="Silk">
                <h5 class="catalog-item__description">Однотонный лен</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 5037</span>
                  <a href="#" class="catalog-item__price">3700 руб</a>
                </div>
              </div>
              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-4.png" alt="Silk">
                <h5 class="catalog-item__description">Шелк с принтом</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 1234</span>
                  <a href="#" class="catalog-item__price">3500 руб</a>
                </div>
              </div>
              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-5.png" alt="Silk">
                <h5 class="catalog-item__description">Жаккард</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 1681</span>
                  <a href="#" class="catalog-item__price">4100 руб</a>
                </div>
              </div>

              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-6.png" alt="Silk">
                <h5 class="catalog-item__description">Однотонный лен</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 5037</span>
                  <a href="#" class="catalog-item__price">3700 руб</a>
                </div>
              </div>
              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-7.png" alt="Silk">
                <h5 class="catalog-item__description">Шелк с принтом</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 1234</span>
                  <a href="#" class="catalog-item__price">3500 руб</a>
                </div>
              </div>
              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-8.png" alt="Silk">
                <h5 class="catalog-item__description">Жаккард</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 1681</span>
                  <a href="#" class="catalog-item__price">4100 руб</a>
                </div>
              </div>
              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <article class="catalog-item">
              <div class="catalog-item__inner">
                <img width="255" height="165" src="../img/fab-9.png" alt="Silk">
                <h5 class="catalog-item__description">Однотонный лен</h5>
                <div class="catalog-item__info">
                  <span class="catalog-item__number">Артикул 5037</span>
                  <a href=""  class="catalog-item__price">3700 руб</a>
                </div>
              </div>

              <div class="catalog-item__buttons">
                <a class="more" href="#">Подробнее</a>
                <a class="buy" href="#">Заказать</a>
              </div>
            </article>

            <div class="catalog-link">
              <a href="#">Смотреть все ткани</a>
            </div>

            </div>
          </div>
      </div>

    </main>

    <div class="order-notification">

      <form action="/cart" method="post">
        <p class="order-title"><strong>Заказать ткань</strong></p>
        <p class="order-description">Введите ваши контактные данные
        менеджер перезвонит Вам в
        течении 15 минут</p>
        <div class="order-userdata">

            <label  class="feedback__labels" for="name"></label>
            <input type="text" id="name" name="name" placeholder="Введите Ваше имя" value="">

            <label  class="feedback__labels" for="tel"></label>
            <input type="text" id="tel" name="tel" placeholder="Введите телефон" value="">

        </div>

        <div class="order-decision">
          <button type="submit" class="callback-btn">ПЕРЕЗВОНИТЕ МНЕ</button>
          <a href="#" class="order-cancel">Закрыть</a>
        </div>
      </form>
    </div>
<script src="../js/script.min.js"></script>
    <!-- <script src="../js/script.js"></script> -->
  </body>
</html>
